server:
  port: 8901
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: clouduser
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    username: root
    data-password: 0619bmb.
    druid:
      url: jdbc:mysql://bj-cynosdbmysql-grp-hhaak714.sql.tencentcdb.com:24707/tushuo_database?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
      username: root
      password: 0619bmb.
      initial-size: 5
      min-idle: 10
      max-active: 20
      max-wait: 60000

mybatis:
  type-aliases-package: xyz.bailv.model
  mapper-locations: classpath:mapper/*Mapper.xml